p {
    font-size: 150%;
}
.left {
    float: left;
}

.raw::after {
    display: table;
    clear: both;
    content: " ";
}

.div1 {
    margin-bottom:  30px;
    border: 1px solid red;
    padding: 15px;
}
.div2 {
    background-color: yellow;
    border: 1px solid green;
    padding: 15px;
}
.internal {
    background-color: black;
    border: none;
    padding: 20px;
    color: white;
    font-size: 14px;
}
.col50 {
    width: 50%;
    margin: 0;
}